<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
<!--here brand v.10 add - edit and commit first-->
  <div>
    <a [routerLink]="['/accounts']">Accounts  </a>
    <a [routerLink]="['/contracts']">Contracts  </a>
    <a [routerLink]="['/activities']">Activity</a>
  </div>
</div>
<!--here brand v.10-ticket2 add 1, commit after v1.0 - add 2 - commit first-->
<router-outlet></router-outlet>
<!--https://www.techiediaries.com/angular-material-navigation-toolbar-sidenav/
-->